@import url('https://db.onlinewebfonts.com/c/e66905e07608167a84e6ad52f638c3c6?family=Helvetica+Now+Var');

* {
  font-family: 'Helvetica Now Var', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevents scrolling entirely on the hero page */
}
